.btn {
  //Change for the <button> element
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    &::after {
      opacity: 0;
      transform: scale(1.5);
    }
  }

  &:focus,
  &:active {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 10rem;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: #777;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    color: $color-white;
    background-color: $color-primary;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveButtonFromBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 6px;
    font-size: $default-font-size;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    transform: translateY(-2px);
    transition: all 0.2s;
  }

  &:active {
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
    transform: translateY(0px);
  }
}
