.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white,0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
 
  


  transform: skewX(-12deg);

  & > * {
    transform: skewX(12deg);
    
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    -web-kit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -web-kitclip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative;
    overflow: hidden;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4) translateZ(0);
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    

  }

  &__text {
    transform: skewX(12deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 
    
    
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

  }

  &:hover &__img {
    -webkit-transform: translateX(-4rem) scale(1) translateZ(0);
    transform: translateX(-4rem) scale(1) translateZ(0);
    filter: blur(3px) brightness(80%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  
    

  }
}
